body {
  margin: 0;
}

.container {
  height: 100vh;
  background-color: aqua;
  padding: 50px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  height: 80vh;
  width: 80vh;
  background-color: white;
  text-align: center;
}

.card2 {
  margin: 40px;
  background-color: azure;
  border: 1px solid black;
  gap: 20px;
  padding: 10px;
}
