body {
  margin: 0;
}

.container {
  height: 100vh;
  background-color: white;
  padding: 50px;
}

.container2 {
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: antiquewhite;
  align-content: center;
}

.container3 {
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: rgb(0, 119, 255);
  align-content: center;
}

.container4 {
  margin: auto;
  width: 70%;
  height: 70%;
  background-color: chartreuse;
  align-content: center;
}

.container5 {
  margin: auto;
  width: 60%;
  height: 60%;
  background-color: coral;
  align-content: center;
}

.container6 {
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: gold;
  align-content: center;
}

.container7 {
  margin: auto;
  width: 40%;
  height: 40%;
  background-color: rgb(255, 0, 179);
  align-content: center;
}

.container8 {
    

}
